<footer>
    <div class="container1">
      
    <div class="f-info" style="position: relative;">
        <div class="f-info-socials" style="z-index: 20;" >
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-whatsapp"></i>
       </div>
        <div class="f-info-brand" style="font-size: larger;"><b>&copy; Stay-Inn </b> </div>
        <div class="f-info-links" style="color: black; text-decoration: underline; text-decoration-color: black; ">
            <a href="/privacy" style="color: blue;">Privacy</a>
           <a href="/terms"style="color: blue;">Terms</a>
            
            </div>
     
    </div>
    </div>
</footer>