<% layout("/layouts/boilerplate") %>
  <div class="row mt-2">
    <h1 class="col-6 offset-3">Login on Stay-inn</h1>
    <div class="col-6 offset-3">
        <form action="/login" , method="POST" novalidate class="needs-validation">

<br/>

            <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input id="username" name="username" placeholder="Enter a username" type="text" class="form-control" id="username"

            required>
        </div>

         <div class="mb-3">
            <label for="password" class="form-label">password</label>
            <input id="password" name="password" placeholder="Enter a password" type="text" class="form-control" id="password"

            required>
        </div>
        <br/>
        <button class="btn btn-success">Login</button>
        </form>
        <br/>
        </div>
  </div>